@media(min-width:1024px){
:root{
    --main-size:30%;
    --main-color:black;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color);
    color:white;
}
header{
    z-index: 100;
    div{
        margin-top:-1%;
        background-color:var(--main-color);
        position:fixed;
        width:var(--main-size);
        justify-self: center;
        h1{
            color:white;
            text-align: center;
        }
        border-bottom: 3px solid white;
    }
}
h1{
    color:white
}
#ns{
    justify-self: center;
    width: var(--main-size);
    h1{
        text-align: center;
    }
    h2{
        margin-top:35px;
        text-align:center;
    }
}
.t{
    font-size:0.8em;
    text-align: center;
    font-style: bold;
    font-style: italic;
}
}
@media(max-width:1023px){
    :root{
    --main-size:90%;
    --main-color:black;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color);
    color:white;
}
header{
    z-index: 100;
    div{
        margin-top:-3.5%;
        background-color:var(--main-color);
        position:fixed;
        width:var(--main-size);
        justify-self: center;
        h1{
            color:white;
            text-align: center;
        }
        border-bottom: 3px solid white;
    }
}
h1{
    color:white
}
#ns{
    justify-self: center;
    width: var(--main-size);
    h1{
        text-align: center;
    }
    h2{
        margin-top:35px;
        text-align:center;
    }
}
.t{
    font-size:0.8em;
    text-align: center;
    font-style: bold;
    font-style: italic;
}
}

@media(max-width:720px){
    header{
    z-index: 100;
    div{
        margin-top:-5%;
        background-color:var(--main-color);
        position:fixed;
        width:var(--main-size);
        justify-self: center;
        h1{
            color:white;
            text-align: center;
        }
        border-bottom: 3px solid white;
    }
}

}
@media(max-width:500px){
    header{
    z-index: 100;
    div{
        margin-top:-7%;
        background-color:var(--main-color);
        position:fixed;
        width:var(--main-size);
        justify-self: center;
        h1{
            color:white;
            text-align: center;
        }
        border-bottom: 3px solid white;
    }
}

}
@media(min-width:1024px){
#ns{
    padding-top:5%;
}
}
@media(not(min-width:1024px)){
#ns{
    padding-top:7%;
}
}